* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

/*--------------- 
  navbar-start 
--------------------*/


.navbar-top {
    background-color: #ffffff1a;
    /* z-index: -1; */
}

/*-------------
   top-baner 
 ----------------*/


.baner-bg-img {
    background-image: url(../images/slider-bg.png);
    /* width: 100%;
    height: 100vh; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}























/*--------------- 
  navbar-end
--------------------*/




/*--------------- 
  carousel-start 
--------------------*/

.carousel-item {
    position: relative;
}

.carousel-caption {
    position: absolute;
    top: 25%;

}

.carousel-caption h2 {
    font-size: 72px;
    color: #595959;
    font-weight: 700;
}

.carousel-caption p {
    font-size: 15px;
    color: #343434;

}

.carousel-caption a {
    text-decoration: none;
    border: 1px solid;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    color: #595959;

}

.btn-one:hover {
    color: #212529 !important;

}

.blue {
    color: #0d6efd;
}

/*--------------- 
  carousel-end 
--------------------*/

.content-main {
    position: absolute;
    bottom: -18%;
    left: 7%;
}

.content-wrap {
    border-radius: 15px;
}

.content-text h2 {
    font-size: 22px;
    margin-bottom: 7px;
}

.content-text p {
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.hidden {
    visibility: hidden;
}

.Wordpress-content h2 {
    font-size: 37px;
    font-weight: 600;
    line-height: 1.5;

}

hr {
    width: 50px;
    height: 2px;
    opacity: 1;
}

.container-service-main {
    overflow: hidden;
}

.Wordpress-content a {
    text-decoration: none;
    border: 1px solid;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    color: #595959;
}

.service-contant a {
    text-decoration: none;
    border: 1px solid;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    color: #595959;
}

.service-contant {
    transition: all .3s;
}

.service-contant:hover {
    background-color: #000000b5;
}

.service-contant:hover h4 {
    color: white;
}

.service-contant:hover a {
    color: white;
    border: 1px solid #0d6efd;
}

/*-----------
    card 
-------------*/
.card-wrap {
    background-color: #e7e8fe;
}

.card-body a {
    text-decoration: none;
    border: 1px solid;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    color: #595959;

}

.card-one {
    background: none;
}

.card-two {
    /* background-color: azure; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.img-overley {
    position: relative;
    overflow: hidden;
}

.img-overley-contant-icon {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 356px;
    background-color: #f9f9f9e3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all .3s;

}

.img-overley:hover .img-overley-contant-icon {
    opacity: 1;
    transform: scale(.86);
}

.pricing h2 {
    font-size: 24px;
    color: #3f3f3f;
    font-weight: 500 !important;
}

.pricing p {
    font-weight: 400;
    line-height: 2;
}


.pricing a {
    text-decoration: none;
    border: 1px solid;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #595959 !important;

}

.swiper-bg-img {
    background-image: url(../images/banner.png);
    width: 100%;
    height: 57vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slider-main {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

.slider-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f9f9f9b0;
}

.slider-one h3 {
    font-size: 24px;
}